
html, body {
  margin  : 0;
  padding : 0;
}

.container {
  max-width : 940px;
  margin    : 0 auto;
  padding   : 0 10px;
}

.jumbotron {
  height           : 800px;

  background: url(http://lorempixel.com/output/city-q-c-640-480-9.jpg) no-repeat center center;
  /*background-color : #AB720F ;*/
  background-size  : cover;
}

.header {
  background-color : #333;
}

/* remove nav dots */
.nav {
  margin          : 0;
  padding         : 20px 0;

  list-style-type : none;
}

.nav li {
  display        : inline;

  margin-right   : 25px;

  font-size      : 12px;
  font-weight    : 600;
  color          : #fff;
  text-transform : uppercase;
}

/* add footer styles with */
.footer {
  padding          : 30px 0;

  background-color : #333;
  color            : #fff;
}

.footer p {
  font-size      : 11px;
  text-transform : uppercase;
}